//-
  options.mixes - an array of mix names (Array<string>)
  options.theme - theme name (string)

mixin demo-section(options)
  if !options
    - options = {};

  -
    let classes = '';
    const blockName = 'demo-section';
    const modifierName = 'theme';

    switch (options.theme) {
      case 'colors-and-type':
        classes += `${blockName}_${modifierName}_colors-and-type`;
        break
      case 'form-elements':
        classes += `${blockName}_${modifierName}_form-elements`;
        break
      case 'cards':
        classes += `${blockName}_${modifierName}_cards`;
        break
      case 'headers-and-footers':
        classes += `${blockName}_${modifierName}_headers-and-footers`;
        break
    }

    classes += ' ';
    classes += options.mixes ? options.mixes.join(' ') : '';

  section.demo-section(class=classes)
    block
